.footer {
  display: flex;
  justify-content: flex-end;
}

.submit_btn {
  margin: 20px;
  background-color: #00bfd8;
  border-color: #00bfd8;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  text-transform: capitalize;
}
