.header {
  margin-top: 50px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  p {
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
}
.decoration {
  height: 10px;
  width: 100%;
  background-color: #00bfd8;
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
}
.title {
  font-size: 30px;
}
.subtitle {
  font-size: 12px;
}
//   .required {
//     color: red;
//     font-size: 12px;
//     padding-bottom: 20px;
//   }
