.App {
  text-align: center;
  // background-color: #ffe9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}

.header_container {
  margin-top: 50px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  p {
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
}

.title {
  font-size: 30px;
}
.subtitle {
  font-size: 12px;
}
.required {
  color: red;
  font-size: 12px;
  padding-bottom: 20px;
}
.decoration {
  height: 10px;
  width: 100%;
  background-color: #00bfd8;
  margin: 0;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.question_container {
  margin-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  p {
    font-size: 14px;
    padding-top: 20px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.text_variant{
  font-size: 12px;
  align-self: center;
  justify-self: center;
  position: relative; 
  top: 0;
  left: 10px;
  padding: 0 !important;
  margin:0 20px !important;
}

.variant{
  position: relative;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  margin-left: 20px;
  padding-bottom: 10px;
}

.variant_text{
  position: relative;
  width: 60%;
  margin: 0 20px;
}

.radio_btn{
  margin-right: 20px;
}

.text_input{
  margin-top: 5px !important;
}
.option_container{
  margin: 0;
}
.option_text{
  font-size:12px !important;
  color: #000;
}
.submit_btn{
  margin: 20px;
  background-color: #00bfd8;
  border-color: #00bfd8;
  color:#fff;
  border-radius: 5px;
  font-size: 15px;
  text-transform:capitalize;
 }

 